<footer>
    <div class="icons">
        <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-google"></i>
    </div>
    <div class="subscribe-bar">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid footerflex">
          <p>Sign up for our newsletter and get 5% OFF</p>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="email" placeholder="Subscribe here">
            <button class="btn btn-outline-success" type="submit">Subscribe</button>
          </form>
        </div>
      </nav>
    </div>
    <div>
    <p>Santiago Alvarez 2025 &copy;</p>
    </div>
    </footer>
